<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vigilancia">

    <!-- Permissões de Áudio e Sistema -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permissão para abrir o app do zero/segundo plano -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vigilancia"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vigilancia_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Table" android:exported="true" />
        <activity android:name=".WebViewPG" android:exported="false" />

        <!-- Serviços da IA -->
        <service android:name=".PorcupineWakeService" android:exported="false" android:foregroundServiceType="microphone" />
        <service android:name=".VoiceService" android:exported="false" android:foregroundServiceType="microphone" />

    </application>
</manifest>